
@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>
<p>hier is de download link naar de tower defense game heel veel plezier en succes met high score behalen</p>
<a href="~/Controllers/DownloadFile.ashx?file=~/files/Schermopname (161).png" >Download Game</a>
