
@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>
<p>hier is de download link naar de tower defense game, heel veel plezier en succes met high score te behalen</p>
<p> Mochten er problemen zijn of bugs worden gevonden, je kan altijd met ons contact opnemen!</p>
<input type="button" value="Download the game" onclick="location.href='../Controllers/DownloadFile.ashx?file=~/files/Schermopname (161).png'" />
