@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <form method="post" action="~/Home/CheckUser">
        <label> Username: </label><br />
        <input name="Username" type="text" /> <br /><br />
        <label> Password: </label><br />
        <input type="password" name="Password" /><br />
        <input type="submit" name="submit" value="submit" />
        <!-- <button> Register </button> --> 
        <input type="button" value="Create" onclick="location.href='@Url.Action("Register")'" />
        @Html.AntiForgeryToken()
    </form>
</div>