
@{
    ViewBag.Title = "Index";
}

<h2> Welcome </h2>

<div class="row">
    <div class="startInfo">
        <h3>Info over de game</h3>
        <img class="welcomeImage" src="~/wwwroot/images/startmenu.png" />
        <p class="welcomTxt">
            De game is een tower defence game en heeft een woestijn achtig thema <br />
            Het doel van het spel is om tanks te plaatsen en je base te verdedigen tegen krabben. <br />
            Tussen elke wave zit een korte pauze en het spel gaat oneinding lang door.
        </p>
    </div>
    <div class="startInfo2">
        <h3> Layout </h3>
        <img class="welcomeImage2" src="~/wwwroot/images/map.png"/>
        <p class="welcomTxt"> De loadout van het spel is vrij simpel. <br />
        Op het pad spawnen de enemys a.k.a je krabben en die lopen het pad af richting het kristal.<br />
        Het kristal is je base en die moet je verdedigen om te suriven.<br />
        Towers kan je kopen en plaatsen in de map langs het pad om de krabben tegen te houden.</p> 
    </div>
    <div class="startInfo">
        <h3> Hoe krijg ik de game</h3>
        <p>
            Das heel simpel als je al een account heb, hoef je nog alleen maar in te loggen. <br />
            Nog geen account, geen probleem dan hoef je alleen maar te registeren op de website.
        </p>
        <input type="button" value="Login" onclick="location.href='@Url.Action("Login")'" />
        <input type="button" value="Register" onclick="location.href='@Url.Action("Register")'" />
    </div>
</div>