@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <form>
        <label> Username: </label><br />
        <input name="username" type="text" /> <br /><br />
        <label> Password: </label><br />
        <input type="password" name="password" /><br />
        <input type="submit" name="submit" value="submit" />
        <button> Register </button>
    </form>
</div>