@{
    ViewBag.Title = "Home Page";
}

<h2>Login</h2>

<div class="form-horizontal">
    <form method="post" action="~/Home/CheckUser">
        <div class="form-group">
            <label class="control-label col-md-2"> Username </label>
            <div class="col-md-10">
                <input class="form-control" name="Username" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Password </label>
            <div class="col-md-10">
                <input class="form-control" type="password" name="Password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="submit" value="submit" />
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

<div>
    <input type="button" value="Back to home" onclick="location.href='@Url.Action("Index")'" />
</div>
